body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1336px;
  margin: 0 auto;
  animation: color-change 3s infinite;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 728px;
  min-height: 180px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  max-width: 728px;
  margin: 0 auto;
  /* margin-top: 300px; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #777;
}

.clear {
  clear: both;
}

#headshot img {
  animation: out 5s;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 20px;
  /* position: absolute; */
}

#headshot img:hover {
  animation: in 5s forwards;
}

nav ul {
/* display: flex; */
list-style: none;
}

nav li {
margin-right: 1em;
}

nav i {
  margin-right: 1em;
  color:black
}

section {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding: 10px;
}

.section-internship {
  color: white;
  background-color: orange;
  background-image: repeating-linear-gradient(120deg, transparent, transparent 25px, rgba(0,0,0,1) 25px, rgba(0,0,0,1) 50px);
  font-size: xx-large;
  text-align: center;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  animation: blink 1s linear infinite;
}


.section-title {
  /* position: left; */
  flex-shrink: 0;
  /* width: 190px; */
  width: 30%;
  float: left;
}

.section-content {
  /* position: right; */
  flex-grow: 1;
  border-left: 1px solid #333;
  margin: 0 5px;
  /* flex-basis: 70%; */
  /* width: 100%; */
  float: right;
}

.section-content p, h2 {
  padding-left: 10px;
  /* width: 100%; */
}

@keyframes in {
  from {
    transform: rotate(0deg) scale(1);
    left: 8px;
    top: 8px;
  }
  to {
    transform: rotate(3500deg) scale(3);
    left: 100px;
    top: 100px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes out {
  0% {
    transform: rotate(3500deg) scale(3);
    left: 100px;
    top: 100px;
  }
  100% {
    transform: rotate(0deg) scale(1);
    left: 8px;
    top: 8px;
  }
}

@keyframes color-change {
  0% {
    background-color: red;
  }
  12.5% {
    background: orange;
  }
  25% {
    background: yellow;
  }
  37.5% {
    background: green;
  }
  50% {
    background: blue;
  }
  62.5% {
    background: indigo;
  }
  75% {
    background: violet;
  }
  87.5% {
    background: white;
  }
  100% {
    background: red;
  }
}
